{% extends "::base.html.twig" %}

{% block title %}ContactBoxBundle:Contact:newContact{% endblock %}

{% block body %}
    <h1>Welcome to the Contact:newContact page</h1>
    <section class="login-panel">
        <article>
            <h1> add Contact </h1>

            <form action="{{ path('new') }}" method="POST">

                {{ form_errors(person_form) }}

                {{ form_row(person_form.first_name) }}
                {{ form_row(person_form.last_name) }}
                {{ form_row(person_form.description) }}
                {{ form_row(person_form.groups) }}
                
                {{ form_rest(person_form) }}

                <input type="submit" value="Zatwierdź" class="btn btn-outline btn-success btn-lg btn-block" />

            </form>
        </article>
    </section>

{% endblock %}
