{% extends "::base.html.twig" %}

{% block title %}editContact{% endblock %}

{% block page_title %}
    <h1>Edytuj kontakt</h1>
{% endblock %}

<form action="{{ path('edit') }}" method="POST">

    {% block form_person %}

        {{ form_errors(person_form) }}

        {{ form_row(person_form.first_name) }}
        {{ form_row(person_form.last_name) }}
        {{ form_row(person_form.description) }}
        {{ form_row(person_form.groups) }}

        {{ form_rest(person_form) }}

    {% endblock %}

    {% block form_address %}

        {{ form_errors(address_form) }}

        {{ form_row(address_form.city) }}
        {{ form_row(address_form.street) }}
        {{ form_row(address_form.house_number) }}
        {{ form_row(address_form.apartment_number) }}
        {{ form_row(address_form.address_type) }}

        {{ form_rest(address_form) }}

    {% endblock %}

    {% block form_email %}

        {{ form_errors(email_form) }}

        {{ form_row(email_form.email) }}
        {{ form_row(email_form.email_type) }}

        {{ form_rest(email_form) }}

    {% endblock %}

    {% block form_phone %}
        
        {{ form_errors(phone_form) }}
        
        {{ form_row(phone_form.phone_number) }}
        {{ form_row(phone_form.phone_type) }}

        {{ form_rest(phone_form) }}
        
    {% endblock %}

    <input type="submit" value="Zatwierdź zmiany" class="btn btn-outline btn-success btn-lg btn-block" />

</form>


{#    {{ form_start(group_form) }}
    {{ form_widget(group_form) }}
    {{ form_end(group_form) }}#}


