{% extends "::base.html.twig" %}

{% block page_title %}
    <h1>ContactBox - wszystkie kontakty</h1>
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            {{ form_start(search_form) }}
            {{ form_widget(search_form) }}
            {{ form_end(search_form) }}

        </div>
        <div class="col-lg-2"></div>
    </div>


    <br/>

    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th></th>
                        <th></th>
                        <th style="text-align: right"><a data-toggle="modal" href="{{ path('new') }}" data-target="#newContactModal">+ dodaj kontakt</a></th>
                    </tr>
                    {% for contact in contacts %}
                        <tr>
                            <th>{{ contact.firstName }} {{ contact.lastName }}</th>
                            <td>
                                {% if contact.email[0] is defined %}
                                    {{ contact.email[0] }}
                                {% endif %}
                            </td>
                            <td style="text-align: right">
                                <a href="{{ path('show_by_id', {'id': contact.id}) }}">szczegóły</a> | 
                                <a href="{{ path('remove', {'id': contact.id}) }}">usuń</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>

    {#modal window - edit contact #}
    <div id="newContactModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
            </div>
        </div>
    </div>

{% endblock %}
