{% extends "ContactBoxBundle:Contact:formModalWindow.html.twig" %}

{% block form %}
    {% block action %}
        <form action="{{ path('add_email', {'id': id}) }}" method="POST">
        {% endblock %}

        {{ form_errors(email_form) }}

        {{ form_row(email_form.email) }}
        {{ form_row(email_form.email_type) }}

        {{ form_rest(email_form) }}

        <input type="submit" value="Zapisz" class="btn btn-outline btn-success btn-lg btn-block" />

    </form>

{% endblock %}