{% extends "ContactBoxBundle:Contact:formModalWindow.html.twig" %}

{% block form %}
    {% block action %}
        <form action="{{ path('add_phone', {'id': id}) }}" method="POST">
        {% endblock %}

        {{ form_errors(phone_form) }}

        {{ form_row(phone_form.phone_number) }}
        {{ form_row(phone_form.phone_type) }}

        {{ form_rest(phone_form) }}

        <input type="submit" value="Zapisz" class="btn btn-outline btn-success btn-lg btn-block" />

    </form>

{% endblock %}